<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Signup</title>
  </head>
  <body>
    <div class="container">
      <h1>Signup</h1>
      <form id="signupForm" action="" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="name" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Signup</button>
        <div id="result"></div>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document
          .getElementById('signupForm')
          .addEventListener('submit', async function (event) {
            event.preventDefault();
            const name = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('http://localhost:3000/auth/signup', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ name, email, password }),
            });

            if (!response.ok) {
              const errorResult = await response.json();
              console.error('Error:', errorResult.message);
              const resultElement = document.getElementById('result');
              resultElement.innerText = `Error: ${errorResult.message}`;
              resultElement.className = 'error';
              return;
            }

            const resultElement = document.getElementById('result');
            resultElement.innerText = `Signup successful!`;
            resultElement.className = 'success';
          });
      });
    </script>
  </body>
</html>
